@using Microsoft.AspNetCore.Identity;
@using PhilBodPill.Models

@inject SignInManager<User> SignInManager
@model IEnumerable<PhilBodPill.Models.Product>

@{
    ViewData["Title"] = "Index";
    ViewData["Heading"] = "Our Products!";
    Layout = "_Layout";
}

<div class="pillow-cards">
    @foreach (var item in Model)
    {
        string imagePath = $"{item.Image}";
        string linkPath = $"/Products/Details/{item.ID}";
        <a class="pillow-card" href="@linkPath">
            <h3>@Html.DisplayFor(modelItem => item.Name) Pillow</h3>
            <img src="@imagePath" />
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <div class="item-price">
                <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
            </div>
        </a>
    }
</div>
