@model List<PhilBodPill.Models.Basket>

@foreach (var item in Model)
{
    string imagePath = $"{item.Product.Image}";
    <div class="pillow-card">
        <h3>@Html.DisplayFor(modelItem => item.Product.Name) Pillow</h3>
        <h2 class="info-text">X @item.Quantity</h2>
        <img src="@imagePath" />
        <p>@Html.DisplayFor(modelItem => item.Product.Description)</p>
        <div class="item-price">
            <h5>@Html.DisplayFor(modelItem => item.Product.Price)</h5>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@item.ID">Update Quantity</a>
            <form asp-action="Delete" asp-route-id="@item.ID" method="post">
                <input type="submit" value="Remove From Cart" />
            </form>
        </div>
    </div>
}