@model List<PhilBodPill.Models.Basket>

@{ 
    decimal total = 0;
    foreach (var item in Model)
    {
        total += (item.Product.Price * (decimal)item.Quantity);
    }
}

<h4>Total: @total</h4>


<div class="pillow-cards">
    @foreach (var item in Model)
    {
        string imagePath = $"{item.Product.Image}";
        <div class="pillow-card">
            <h3>@Html.DisplayFor(modelItem => item.Product.Name) Pillow</h3>
            <h2 class="info-text">X @item.Quantity</h2>
            <img src="@imagePath" />
            <div class="item-price">
                <h5>@Html.DisplayFor(modelItem => item.Product.Price)</h5>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@item.ID">Update Quantity</a>
                <form asp-action="Delete" asp-route-id="@item.ID" method="post">
                    <input type="submit" value="Remove From Cart" />
                </form>
            </div>
        </div>
    }
</div>
