@model PhilBodPill.Models.Basket

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Update Quantity</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ID" />
    <input type="number" name="Quantity" value="@Model.Quantity" />
    <input type="submit" value="Update" />
</form>

<div class="pillow-card">
    <h3>@Html.DisplayFor(modelItem => Model.Product.Name) Pillow</h3>
    <img src="@Model.Product.Image" />
    <p>@Html.DisplayFor(modelItem => Model.Product.Description)</p>
    <div class="item-price">
        <h5>@Html.DisplayFor(modelItem => Model.Product.Price)</h5>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
