@using Microsoft.AspNetCore.Identity;
@using PhilBodPill.Models

@inject SignInManager<User> SignInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        @if (SignInManager.IsSignedIn(User))
        {
            @User.Claims.First(name => name.Type == "greeting").Value;
            <form asp-action="Logout" asp-controller="User" method="post">
                <button type="submit">Logout!</button>
            </form>
        }
        else
        {
            @Html.ActionLink("Register", "Register", "User");
            @Html.ActionLink("Log In", "Login", "User");
        };
        @Html.ActionLink("Our Products", "Index", "Products")
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
