@using Microsoft.AspNetCore.Identity;
@using PhilBodPill.Models

@inject SignInManager<User> SignInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul class="nav-items">
            @if (SignInManager.IsSignedIn(User))
            {
            <li>
                @User.Claims.First(name => name.Type == "greeting").Value
            </li>
            <li>
                <form asp-action="Logout" asp-controller="User" method="post">
                    <input class="fancy-button" type="submit" value="Logout" />
                </form>
            </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("Register", "Register", "User")
                </li>
                <li>
                    @Html.ActionLink("Log In", "Login", "User")
                </li>
            }
            <li>
            @Html.ActionLink("Our Products", "Index", "Products")
            </li>
        </ul>
        
    </nav>
    <main>
        <div class="main-container">
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
        <div class="cart-container">
            @if (User.Claims.First(n => n.Type == "firstNameLower").Value == "chet")
            {
                <h4>Chet is not allowed to shop here.</h4>
            }
            else
            {
                <a href="/Basket/Index">
                    <h2>Your Cart</h2>
                </a>
                @await Component.InvokeAsync("Cart", User.Claims.First(name => name.Type == "userID").Value)
            }
        </div>
        }
    </main>
</body>
</html>
